Source: rsdk-image
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,

Package: rsdk-image
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: rsdk-image
 This package provides the rsdk-image.
