Source: rsdk-image
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: optional
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               docker.io | docker-ce

Package: rsdk-image
Architecture: any
Section: optional
Priority: optional
Depends: ${misc:Depends}, docker.io | docker-ce
Description: rsdk-image
 TDescription: Offline Docker image package for Debian 12
 This package contains a pre-pulled Docker image tarball and will attempt
 to load it into Docker on installation if Docker is available on the host.
